SVC_USER=synuser
SVC_PREFIX=00

RUNE_ALLOW_ROOT=false

NETWORK_DEVICE=eth0
NETWORK_NAME=rune-network
NETWORK_CIDR=10.10.10.64/26
GATEWAY_IP_ADDRESS=10.10.10.65

AHA_DOMAIN=rune.local
AHA_SERVICE_NAME=${SVC_PREFIX}.aha
AHA_FQDN=${AHA_SERVICE_NAME}.${AHA_DOMAIN}
AHA_IP_ADDRESS=10.10.10.66
AHA_NETWORK=prod.synapse

HTTPS_PORT=443

AXON_SERVICE_NAME=${SVC_PREFIX}.axon
JSONSTOR_SERVICE_NAME=${SVC_PREFIX}.jsonstor
CORTEX_SERVICE_NAME=${SVC_PREFIX}.cortex

IPAPI_SERVICE_NAME=${SVC_PREFIX}.ipapi
YARASTORM_SERVICE_NAME=${SVC_PREFIX}.yarastorm

AXON_IP_ADDRESS=10.10.10.67
JSONSTOR_IP_ADDRESS=10.10.10.68
CORTEX_IP_ADDRESS=10.10.10.69

IPAPI_IP_ADDRESS=10.10.10.70
YARASTORM_IP_ADDRESS=10.10.10.71
